{% extends 'base.html.twig' %}

{% block body %}
    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">Guild Audit</h1>

                <hr/>
                <p>The audit spreadsheet for World of Warcraft is an automatically updated overview of your guild&#39;s
                    characters, right from a simple Google Spreadsheet! This includes historical information, such as
                    how much Artifact Power characters have obtained so far this week.&nbsp;</p>

                <p><a class="btn btn-primary btn-xl page-scroll" href="{{ path('new_guild') }}">Track New Guild</a>&nbsp
                    <a class="btn btn-primary btn-xl page-scroll" href="{{ path('manage_guild') }}">&nbsp;&nbsp;Manage Guild&nbsp;&nbsp;</a>
                </p>
                <div>
                    <p style="font-size:12px;">Created by Sheday @ Stormrage-EU. For questions or feedback, contact me
                        in <a href="https://discord.gg/86eUAFz" target="_blank">Discord</a> or at
                        support@wow.vanlankveld.me</p>
                </div>

            </div>
        </div>

    </header>
{% endblock %}

