{% extends 'base.html.twig' %}

{% block body %}
    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">Guild Audit</h1>

                <hr/>
                <p>Logged in, yay</p>!

            </div>
        </div>

    </header>
{% endblock %}

