{% extends 'base.html.twig' %}

{% block body %}
    Managing {{ guild.name }} on  {{ guild.realm.name }} ({{ guild.realm.region }}):
    <ul>
        {% for member in guild.members %}
            <li>
                {{ member.name }}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
