.center {
    text-align: center;
}

.center-element {
    margin-right: auto;
    margin-left: auto;
}

li .members * {
    display: inline-block;
    margin: 0 10px;
}

.dlg-no-close .ui-dialog-titlebar-close {
    display: none;
}

.dlg-no-title .ui-dialog-titlebar {
    display: none;
}

.saved {
    z-index: 1000;
}

#dialog {
    display: none;
}